module mypolicy 1.0;

require {
    type httpd_t;
    type httpd_sys_content_t;
    class file execute;
}

#============= httpd_t ==============
allow httpd_t httpd_sys_content_t:file execute;
